.logo-inner {
  width: 37px;
  position: relative;
  height: 37px;
  object-fit: cover;
}
.habesha-art-store2 {
  width: 189px;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-sora);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  height: 27px;
  flex-shrink: 0;
}
.logo2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 145px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
}
.browse-art25 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
}
.component-14 {
  border-radius: var(--br-12xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-2xs);
}
.browse-art26,
.browse-art27 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.browse-art26 {
  letter-spacing: 0.01em;
  font-weight: 600;
}
.browse-art27 {
  font-weight: 500;
}
.component-15 {
  border-radius: var(--br-12xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-2xs);
  color: var(--color-black);
}
.browse-art28 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: inherit;
}
.component-1-container {
  flex-direction: column;
}
.component-1-container,
.component-7-container,
.frame-parent43 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-7-container {
  flex-direction: column;
  color: var(--color-black);
}
.frame-parent43 {
  position: absolute;
  top: 33px;
  left: 54px;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 32px;
  height: 1px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-4xs);
  box-sizing: border-box;
  gap: var(--gap-sm);
}
.categories2 {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
}
.chevron-down-icon2 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.categories-container {
  position: absolute;
  top: 0;
  left: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0;
  gap: var(--gap-3xs);
  font-size: var(--font-size-2xl-3);
}
.component-102 {
  width: 168px;
  position: relative;
  height: 36px;
  font-size: var(--font-size-xl);
}
.links2 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 62.95px;
  text-align: left;
  font-size: var(--font-size-2xl-3);
  color: var(--color-gray-600);
  font-family: var(--font-sora);
}
.vector-icon12 {
  width: 22px;
  position: relative;
  height: 15px;
}
.vector-icon12,
.vector-icon13 {
  object-fit: cover;
}
.vector-icon13,
.vector-icon14 {
  width: 2px;
  position: relative;
  height: 2px;
}
.button31,
.shopping-cart3 {
  cursor: pointer;
  box-sizing: border-box;
}
.shopping-cart3 {
  border: 0;
  padding: var(--padding-12xs);
  background-color: transparent;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3px 9px;
}
.button31 {
  border: 1px solid var(--color-white);
  padding: 0;
  background-color: var(--color-lightskyblue-100);
  width: 45px;
  border-radius: var(--br-56xl);
  height: 45px;
}
.cart-bell2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
}
.menu-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.header-text2,
.header2,
.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.links-container {
  justify-content: center;
  gap: var(--gap-47xl);
}
.header-text2,
.header2 {
  align-self: stretch;
  justify-content: space-between;
}
.header2 {
  background-color: var(--color-white);
  box-shadow: 0 4px 8.6px rgba(78, 121, 139, 0.25);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-84xl);
}
.body-child {
  width: 1923px;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.frame-child57 {
  width: 404px;
  position: relative;
  height: 594px;
  object-fit: cover;
}
.rectangle-wrapper14 {
  width: 429px;
  background-color: var(--color-gainsboro);
  box-shadow: -13px 12px 11.2px rgba(0, 0, 0, 0.25);
  height: 617px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-xs);
  box-sizing: border-box;
}
.button33 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
}
.button32,
.frame-parent44 {
  align-items: center;
  justify-content: center;
}
.button32 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightskyblue-200);
  width: 111px;
  height: 41px;
  border-radius: var(--br-xs);
  box-shadow: 0 4px 1.8px rgba(0, 0, 0, 0.25);
  display: none;
  flex-direction: row;
}
.frame-parent44 {
  width: 22.31%;
  margin: 0 !important;
  position: absolute;
  height: 63.87%;
  top: 15.53%;
  right: 61.58%;
  bottom: 20.6%;
  left: 16.11%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-3xs);
  z-index: 1;
}
.button34 {
  cursor: pointer;
  margin: 0;
  width: 36px;
  border-radius: 60.05px;
  background-color: var(--color-lightskyblue-100);
  border: 0.8px solid var(--color-white);
  box-sizing: border-box;
  height: 36px;
}
.the-art-title {
  position: relative;
  font-weight: 600;
}
.the-artists-name {
  position: relative;
  font-size: var(--font-size-smi-4);
  font-weight: 500;
}
.button-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.01px;
}
.m-45,
.pick-a-size {
  position: relative;
}
.m-45 {
  font-size: var(--font-size-2xs-8);
  font-weight: 500;
  font-family: var(--body);
  color: var(--color-black);
  text-align: left;
}
.frame-parent46,
.m-45-32cm-wrapper,
.pick-a-size-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.m-45-32cm-wrapper {
  cursor: pointer;
  border: 0;
  padding: 3.8735721111297607px 4.648286819458008px;
  background-color: var(--color-white);
  box-shadow: 0 3.1px 3.1px rgba(0, 0, 0, 0.25);
  align-items: center;
}
.frame-parent46,
.pick-a-size-parent {
  align-items: flex-start;
  gap: 11.62px;
}
.pick-a-size-parent {
  flex-direction: column;
  font-size: var(--font-size-smi-4);
}
.button36 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
}
.button35 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightskyblue-200);
  width: 255.4px;
  border-radius: 9.61px;
  box-shadow: 0 3.2px 1.44px rgba(0, 0, 0, 0.25);
  height: 32.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.star-2-icon,
.star-3-icon {
  width: 14.7px;
  position: relative;
  height: 14.7px;
  overflow: hidden;
  flex-shrink: 0;
}
.star-3-icon {
  width: 13.9px;
}
.stars {
  width: 136.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-smi-4);
}
.birrr-parent,
.button-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 13.94px;
}
.birrr-parent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.2px;
}
.star-2-icon1,
.star-3-icon1 {
  width: 14.7px;
  position: relative;
  height: 14.7px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.star-3-icon1 {
  width: 13.9px;
}
.rate-this-art-parent {
  align-items: center;
  justify-content: center;
  gap: var(--gap-smi-4);
}
.body,
.frame-parent45,
.price1,
.rate-this-art-parent {
  display: flex;
  flex-direction: column;
}
.frame-parent45 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48.84px;
}
.body,
.price1 {
  align-items: center;
  justify-content: center;
}
.price1 {
  width: 325.2px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 295px);
  right: 147.8px;
  border-radius: 14.72px;
  background-color: var(--color-white);
  box-shadow: -0.8px 1.5px 10.61px -1.55px rgba(0, 0, 0, 0.25);
  padding: 63.52658462524414px 31.76329231262207px;
  box-sizing: border-box;
  z-index: 2;
}
.body {
  width: 1923px;
  height: 966px;
  position: relative;
  text-align: left;
  font-size: var(--font-size-base-5);
  color: var(--color-black);
  font-family: var(--body);
}
.frame-child58 {
  width: 178px;
  position: relative;
  border-radius: var(--br-xs);
  height: 256px;
  object-fit: cover;
}
.rectangle-wrapper15 {
  width: 194px;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke-200);
  box-shadow: 0 4px 7.2px -8px rgba(0, 0, 0, 0.25);
  height: 273px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-parent47,
.frame-parent48,
.frame-parent49,
.frame-parent51,
.frame-parent54,
.frame-parent61 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.frame-parent47,
.frame-parent54,
.frame-parent61 {
  width: 1734px;
}
.frame-parent61 {
  width: 1726px;
}
.art {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-16xl);
}
.art,
.button37,
.item {
  display: flex;
  align-items: center;
}
.button37 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightskyblue-200);
  width: 222px;
  border-radius: var(--br-xs);
  box-shadow: 0 4px 1.8px rgba(0, 0, 0, 0.25);
  height: 41px;
  flex-direction: row;
  justify-content: center;
}
.item {
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 107px 0 60px;
  gap: var(--gap-46xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: #6c6c6c;
  font-family: var(--body);
}
.ha2 {
  margin: 0;
  width: 298px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
}
.every-stroke-tells3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.02em;
  line-height: 40px;
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
}
.group-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-lightskyblue-200);
}
.vector-icon15 {
  position: absolute;
  height: 48.08%;
  width: 25.77%;
  top: 25%;
  right: 37.69%;
  bottom: 26.92%;
  left: 36.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-parent14 {
  width: 52px;
  position: relative;
  height: 52px;
}
.vector-icon16 {
  position: absolute;
  height: 42.12%;
  width: 42.12%;
  top: 28.85%;
  right: 29.04%;
  bottom: 29.04%;
  left: 28.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.in2,
.vector-icon17 {
  position: absolute;
  left: 30.77%;
}
.vector-icon17 {
  height: 39.04%;
  width: 48.08%;
  top: 30.77%;
  right: 21.15%;
  bottom: 30.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.in2 {
  height: 53.85%;
  width: 44.23%;
  top: 11.54%;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.02em;
  line-height: 40px;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.rectangle-parent17 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 52px;
  position: relative;
  height: 52px;
}
.group-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.ha-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
  z-index: 0;
}
.careers2,
.contact-us2 {
  position: absolute;
  height: 10.26%;
  width: 71.67%;
  top: 89.74%;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 40px;
  display: inline-block;
}
.contact-us2 {
  width: 100%;
  top: 43.96%;
}
.support2 {
  width: 73.33%;
  top: 67.77%;
}
.about2,
.company2,
.support2 {
  position: absolute;
  height: 10.26%;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 40px;
  display: inline-block;
}
.company2 {
  width: 87.5%;
  top: 0;
  color: var(--color-gainsboro);
}
.about2 {
  width: 55%;
  top: 21.98%;
}
.careers-container {
  width: 120px;
  position: relative;
  height: 273px;
}
.faqs2,
.features2,
.quick-link2,
.share-location2 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 40px;
  display: inline-block;
  flex-shrink: 0;
}
.quick-link2 {
  width: 115px;
  color: var(--color-gainsboro);
  height: 28px;
}
.faqs2,
.features2,
.share-location2 {
  width: 167px;
  height: 27px;
}
.faqs2,
.features2 {
  width: 117px;
  height: 28px;
}
.faqs2 {
  width: 58px;
}
.quick-link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
  color: var(--color-gray-400);
}
.legal2,
.privacy-policy4,
.sign-up-as1,
.terms-conditions2 {
  position: absolute;
  height: 10.37%;
  width: 71.63%;
  top: 58.15%;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 40px;
  display: inline-block;
}
.legal2,
.sign-up-as1,
.terms-conditions2 {
  width: 100%;
  top: 29.63%;
  color: var(--color-gray-200);
}
.legal2,
.sign-up-as1 {
  width: 27.91%;
  top: 0;
  left: 0.93%;
  color: var(--color-whitesmoke-300);
}
.sign-up-as1 {
  text-decoration: none;
  top: 242px;
  left: 0;
  color: var(--color-whitesmoke-200);
  width: 212px;
  height: 28px;
}
.privacy-policy-container {
  width: 215px;
  position: relative;
  height: 270px;
  color: var(--color-gray-500);
}
.group-parent4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-96xl);
}
.frame-wrapper9 {
  margin: 0 !important;
  position: absolute;
  top: -13px;
  left: 524px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 1;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  font-family: var(--font-roboto);
}
.frame-parent68 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-351xl);
}
.footer2,
.selected-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer2 {
  width: 1920.2px;
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-117xl) var(--padding-192xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.selected-item {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .habesha-art-store2 {
    display: none;
  }
  .body {
    align-self: stretch;
    width: auto;
    flex-direction: row;
  }
  .frame-parent47,
  .frame-parent54,
  .frame-parent61 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .art {
    align-self: stretch;
    width: auto;
    flex: 1;
    flex-direction: column;
  }
  .art,
  .item {
    align-items: center;
    justify-content: center;
    padding-left: 0;
    box-sizing: border-box;
  }
  .ha2 {
    align-self: stretch;
    width: auto;
    flex: 1;
  }
  .ha-container {
    flex-direction: column;
  }
  .frame-wrapper9,
  .group-parent4 {
    flex-direction: row;
  }
  .frame-wrapper9 {
    display: none;
  }
  .footer2,
  .frame-parent68 {
    align-items: center;
    justify-content: center;
  }
  .frame-parent68 {
    flex-direction: column;
  }
  .footer2 {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .logo2 {
    display: flex;
  }
  .links2 {
    display: none;
  }
  .menu-icon2 {
    display: flex;
  }
  .header2 {
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-61xl);
    box-sizing: border-box;
  }
  .button32 {
    display: flex;
  }
  .frame-parent44 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .price1 {
    display: none;
  }
  .body,
  .frame-parent47,
  .frame-parent48,
  .frame-parent51 {
    flex-direction: column;
  }
  .art,
  .frame-parent47,
  .frame-parent51,
  .frame-parent54,
  .frame-parent61 {
    align-items: center;
    justify-content: center;
  }
  .art {
    justify-content: space-between;
    gap: var(--gap-0);
    padding-left: var(--padding-2xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .cart-bell2,
  .links2 {
    display: none;
  }
  .cart-bell2 {
    gap: var(--gap-6xl);
    align-items: center;
    justify-content: space-between;
  }
  .menu-icon2 {
    display: flex;
    flex: 1;
  }
  .header2 {
    padding-left: var(--padding-6xs);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .body-child,
  .frame-parent44 {
    align-self: stretch;
    width: auto;
  }
  .body-child {
    flex: 1;
  }
  .frame-parent44 {
    align-items: center;
    justify-content: center;
  }
  .art {
    padding-left: var(--padding-10xs);
    box-sizing: border-box;
  }
}
